<% content_for :css do %>
    <meta name="description" content="Web Developer"/>
    <!-- images/jaysonpresto-gradpic.jpg -->
    <link rel="shortcut icon" type="image/png" href="<%= asset_url(current_logo) %>" style= "width: 20px;margin-right: 10px; width: 30px;height: 30px;border-radius: 50%;">
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/reset.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" type="text/css">
    <link rel="stylesheet" href="css/animations.css" type="text/css">
    <link rel="stylesheet" href="css/perfect-scrollbar.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <script src="js/modernizr.custom.js"></script>

<% end %>
<% content_for :body do %>
 <!-- Animated Background -->
 <div class="lm-animated-bg" style="background-image: url(img/main_bg.png);"></div>
 <!-- /Animated Background -->

 <!-- Loading animation -->
 <div class="preloader">
   <div class="preloader-animation">
     <div class="preloader-spinner">
     </div>
   </div>
 </div>
 <!-- /Loading animation -->

 <div class="page">
   <div class="page-content">

       <header id="site_header" class="header mobile-menu-hide">
         <div class="header-content">
           <div class="header-photo">
            <%= image_tag current_logo,alt: 'Jayson Presto' %>
           </div>
           <div class="header-titles">
             <h2>Jayson Presto</h2>
             <h4>
               Ruby on Rails Developer <br>
               Since 2017 
            </h4>
           </div>
         </div>

         <%= render partial: 'jaysonpresto/main_menu' %>

         <div class="social-links">
           <ul>
             <li><a href="https://www.linkedin.com/in/jayson-presto/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
             <li><a href="https://www.facebook.com/iprog21" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
             <li><a href="https://twitter.com/iprog21" target="_blank"><i class="fab fa-twitter"></i></a></li>
             <li><a href="https://www.youtube.com/channel/UCK3DwDFst2eqLybh5nP-vNw?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a></li>
             <li><a href="https://github.com/iprog21" target="_blank"><i class="fab fa-github"></i></a></li>
           </ul>
         </div>

         <div class="header-buttons">
           <a href="img/Jayson-Presto.pdf" target="_blank" class="btn btn-primary">Download CV</a>
         </div>

         <div class="copyrights">© <%= Date.today.year %> All rights reserved.</div>
       </header>

       <!-- Mobile Navigation -->
       <div class="menu-toggle">
         <span></span>
         <span></span>
         <span></span>
       </div>
       <!-- End Mobile Navigation -->

       <!-- Arrows Nav -->
       <div class="lmpixels-arrows-nav">
         <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
         <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
       </div>
       <!-- End Arrows Nav -->

       <div class="content-area">
         <div class="animated-sections">
           <!-- Home Subpage -->
           <section data-id="home" class="animated-section start-page">
             <div class="section-content vcentered">

                 <div class="row">
                   <div class="col-sm-12 col-md-12 col-lg-12">
                     <div class="title-block">
                       <h2>What Can I Do?</h2>
                       <div class="owl-carousel text-rotation">
                         <% [
                              'Creating Fully Functional Ruby on Rails Application', 
                              'Continuing Existing Ruby on Rails Application',
                              'Offering Ruby on Rails Tutorials',
                              'Participating As An Independent Contractor'
                            ].each do |code_name| %>
                            <div class="item">
                              <div class="sp-subtitle"><%= code_name %></div>
                            </div>
                          <% end %>
                       </div>
                       <br>
                       <h4>Getting Interested?</h4>
                       <%= link_to 'Contact Me', "javascript:void(0);", onClick: "visit_contact_page(this)" %>
                     </div>
                   </div>
                 </div>

             </div>
           </section>
           <!-- End of Home Subpage -->

           <!-- About Me Subpage -->
           <section data-id="about-me" class="animated-section">
             <div class="page-title">
               <h2>About <span>Me</span></h2>
             </div>

             <div class="section-content">
               <!-- Personal Information -->
                <%= render partial: 'jaysonpresto/about/me' %>
               <!-- End of Personal Information -->

               <div class="white-space-50"></div>

               <!-- Services -->
               <%= render partial: 'jaysonpresto/about/what_ido' %>
               <!-- End of Services -->

               <div class="white-space-30"></div>

               <!-- Testimonials -->
               <% render partial: 'jaysonpresto/about/testimonials' %>
               <!-- End of Testimonials -->

               <div class="white-space-50"></div>

               <!-- Clients -->
               <%= render partial: 'jaysonpresto/about/clients' %>
               <!-- End of Clients -->

               <!-- <div class="white-space-50"></div> -->

               <!-- Pricing -->
               <% render partial: 'jaysonpresto/about/pricing' %>
               <!-- End of Pricing -->

               <!-- <div class="white-space-50"></div> -->

               <!-- Fun Facts -->
               <% render partial: 'jaysonpresto/about/fun_facts' %>
               <!-- End of Fun Facts -->

             </div>
           </section>
           <!-- End of About Me Subpage -->

           <!-- Resume Subpage -->
           <section data-id="resume" class="animated-section">
            <% render partial: 'jaysonpresto/resume' %>
           </section>
           <!-- End of Resume Subpage -->

           <!-- Portfolio Subpage -->
           <section data-id="portfolio" class="animated-section">
            <% render partial: 'jaysonpresto/portfolio' %>
           </section>
           <!-- End of Portfolio Subpage -->

           <!-- Blog Subpage -->
           <section data-id="blog" class="animated-section">
            <% render partial: 'jaysonpresto/blog' %>
           </section>
           <!-- End of Blog Subpage -->

           <!-- Contact Subpage -->
           <%= render partial: 'jaysonpresto/contact' %>
           <!-- End of Contact Subpage -->
         </div>
       </div>

   </div>
 </div>

<% end %>
<% content_for :js do %>
<script src="js/jquery-2.1.3.min.js"></script>
<script src="js/modernizr.custom.js"></script>
<script src="js/animating.js"></script>
<script type="text/javascript">
  function visit_contact_page(){
    $('#contact-me').trigger('click');
  }
</script>
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

<script src='js/perfect-scrollbar.min.js'></script>
<script src='js/jquery.shuffle.min.js'></script>
<script src='js/masonry.pkgd.min.js'></script>
<script src='js/owl.carousel.min.js'></script>
<script src="js/jquery.magnific-popup.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDf32aQTCVENBhFJbMBKOUTiUAABtC2o"></script>
<script src="js/jquery.googlemap.js"></script>
<script src="js/validator.js"></script>
<script src="js/main.js"></script>
<% end %>