<% content_for :css do %>
<style>
  .page-content {
    min-height: 85vh !important;
    height: 85vh !important;
  } 
  #participants_filter input[type="search"]{
    color: #fff;
  }
  table.dataTable tbody tr{
    background-color: transparent !important;
  }

  .dataTables_paginate.paging_simple_numbers{
    background: #ddd;
    padding: 8px;
  }
</style>
<% end %> 
<% content_for :body do %>
<div class="content-area custom-area">
  <%= render 'message_display_result' %>
  <div class="row">
   <h2>Participants |  
     <%= link_to 'Add Participant', new_projects_participant_path, data: {turbolinks: false} %>
      or
      <%= link_to 'Import Participants', import_participants_projects_participants_path, data: {turbolinks: false} %>
    </h2>
   
   <table id="participants" class="table table-bordered table-responsive">
    <thead>
     <tr>
       <th>ID</th>
       <th>Full Name</th>
       <th width="30%">Action</th>
     </tr>
    </thead>
    <tbody>
      <% @participants.each do |participant| %>
      <tr>
        <td><%= participant.id %></td>
        <td><%= participant.full_name %></td>
        <td>
          <%= link_to 'Edit', edit_projects_participant_path(participant), data: {turbolinks: false}, class: 'btn btn-sm btn-default' %>
          
          <% if participant.special? %> 
            <%= link_to 'Remove from s', unset_to_special_projects_participant_path(participant), method: :post, class: 'btn btn-sm btn-danger'  %>
          <% else %>
            <%= link_to 'Move to s', set_to_special_projects_participant_path(participant), method: :post, class: 'btn btn-sm btn-success'  %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
   </table>

<%= link_to 'Reset', reset_projects_participants_path, method: :post, data:{ confirm: "Are You Sure?"} %>  
</div>
</div>
<% end %>
<%= content_for :js do %>
<script type="text/javascript">
  $(document).ready(function() {
      $('#participants').DataTable();
  });
</script>
<% end %>