<!DOCTYPE html>
<html>
  <head>
    <title>jaysonpresto|iprog21</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:title"  content="jaysonpresto|iprog21" >
    <meta property="og:type"  content="website" >
    <meta property="og:locale" content="en_US"/>
    <meta property="og:url"  content="<%= request.original_url %>" >
    <meta property="og:image"  content="<%= asset_url('mybg.png') %>" >
    <meta property="og:description"  content="Programmer" >
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>
    <% if Rails.env.production?  %>
      <script data-ad-client="ca-pub-8361735353156697" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <% end %>
    <%= yield :css %>
  </head>
  <body id="top">
    <%= yield :body%>
    <%= yield :js %>
  </body>
</html>
